/* 
 * styles.css
 *
 * @author: Chopping Block (choppinblock.com)
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Vollkorn', Garamond, serif;
	color: #787878;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

i{
	font-style: italic;
    font-weight: 200;

}


/* Your styles go here */

/*colors*/

.yellow1{color:#342a03;}
.yellow2{color:#9d800a;}
.yellow3{color:#dbbc3d;}
.yellow4{color:#e4cc6d;}
.yellow5{color:#f5edce;}

.magenta1{color:#3d183c;}
.magenta2{color:#b84ab4;}
.magenta3{color:#f563f1;}
.magenta4{color:#f9a1f6;}
.magenta5{color:#fcdffb;}

.green1{color: #003d2d;}
.green2{color: #01b988;}
.green3{color: #01f7b6;}
.green4{color: #99fbe1;}
.green5{color: #cbfdf0;}

.blue1{color: #00333f;}
.blue2{color: #009abe;}
.blue3{color: #00ceff;}
.blue4{color: #65e1ff;}
.blue5{color: #cbf4ff;}


.yellow1-background{background-color: #342a03;}
.yellow2-background{background-color: #9d800a;}
.yellow3-background{background-color: #dbbc3d;}
.yellow4-background{background-color: #e4cc6d;}
.yellow5-background{background-color: #f5edce;}

.magenta1-background{background-color:#3d183c;}
.magenta2-background{background-color:#b84ab4;}
.magenta3-background{background-color:#f563f1;}
.magenta4-background{background-color:#f9a1f6;}
.magenta5-background{background-color:#fcdffb;}

.green1-background{background-color: #003d2d;}
.green2-background{background-color: #01b988;}
.green3-background{background-color: #01f7b6;}
.green4-background{background-color: #99fbe1;}
.green5-background{background-color: #cbfdf0;}

.blue1-background{background-color: #00333f;}
.blue2-background{background-color: #009abe;}
.blue3-background{background-color: #00ceff;}
.blue4-background{background-color: #65e1ff;}
.blue5-background{background-color: #cbf4ff;}


/* tooltip*/

.legend table td {
  padding: 2px;
  font-size: 12px;
}

.tooltip {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0;
  border: 1px solid #ccc;
  color: #000;
  padding: 8px;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  width:200px;
}



h1, h2, h3, h4, h5, h6{
	font-family:'Oswald', Helvetica, Arial, sans-serif; 
	
}

h1{
	font-size: 2em;
	color:#37424A;
	text-align: center;
	line-height: 2em;
	margin-bottom: 20px;
	margin-top: 20px;
}

a {
    color: #b84ab4;
    text-decoration: none;
}

.first-graph:first-letter { 
	float: left; 
	color: #37424A; 
	font-size: 2.5em; 
	line-height: 1em; 
	padding-top: 4px; 
	padding-right: 10px; 
	padding-left: 3px; 
	font-family: 'Vollkorn',Georgia, serif; 
}


 p{
    font-family: 'Vollkorn', Garamond, serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #393939;
    padding-bottom: 1.5em;

}

.wrap{
	position: absolute;
	width:100%;
}


.content{
	width: 50%;
    margin: 0 auto;
    /* max-width: 600px; */
    text-align: justify;
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.section{
	position:relative;
	pointer-events: none;
}


.button {
	font-family:'Oswald', Helvetica, Arial, sans-serif; 
	color: #fff ;
    background-color:  #7c7c7d;
    font-weight: normal;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #7c7c7d;
    border-radius: 4px;
}

.button:hover {
  background: #888;
  text-decoration: none;
  
}


.mobile{
	display:none;
}

.desktop{
	display:block;
}

.legend{
	width:100%;
}

.legend-text{

}

.legend-box-button{
   font-family:'Oswald', Helvetica, Arial, sans-serif; 
	color: #7c7c7d ;
    background-color:  #fff;
    font-weight: normal;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #7c7c7d;
    border-radius: 4px;
    width: 25%;
    text-align: center;
    float:left;
    margin:1%;
}

.footnote{
	font-size: 0.8em;
    color: #888;
    line-height: 1.5em;
    clear: both;
}



.intro-icon {
    text-align: center;
    margin: 25px 0px 25px 0;
    font-size: 1.5em;

}

.intro-icon i{
	color:#f563f1;
}


@media (max-width:480px) {
	.content{
		width:90%;
	}
	.mobile{
		display:block;
	}
	.desktop{
		display:none;
	}
	p{
		font-size:14px;
		padding-bottom: 1em;
	}
	.button-container{
		text-align: center;
	}

	h1 {
	    font-size: 1.5em;
	    line-height: 1em;
	    margin-bottom: 15px;
	    margin-top: 15px;
	}

}

/* chart styles*/
.y.axis line,
.y.axis path,
.x.axis line,
.x.axis path {
  fill: none;
  stroke: #ccc;
}

.y.axis path{
	stroke:#fff;
}

.axis text {
	fill:#888;
	font-size: 14px;
}

.chart-box {
    width: 95%;
    margin: 0 auto;
}

.circle{
	border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    display: inline-block;
}

.hover{
	z-index: 100;
}

@media (max-width:900px){
	.legend-box-button{
		font-size: 0.9em;
		width:50%;
		margin:15px auto;
		position:relative;
		float:none;
		
	}
}
.hidden{
	visibility: hidden;
}

#intro{
	z-index:10;
}

.chart-box{
	opacity:0;
}


#chart1 {
    position: fixed;
}

#chart-chapter2,
#chart-chapter3,
#chart-chapter4
#chart-chapter5,
#chart-chapter6
#chart-chapter7,
#chart-chapter8{
	opacity:0.3;
}
